/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a:hover{
    text-decoration: none;
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/bn.eot');
    src: url('../fonts/bn.eot') format('embedded-opentype'),
        url('../fonts/bn.woff') format('woff'),
        url('../fonts/bn.ttf') format('truetype'),
        url('../fonts/bn.svg#BebasNeueRegular') format('svg');
}
body{
    background:#000 url('../images/background-wood.png') repeat center center;
}
.sketch-1{
    width: 100%;
    height: 100%;
    background: url('../images/sketch-1.png') no-repeat;
    background-position: 122% 90px;
}
.sketch-2{
    width: 100%;
    height: 100%;
    background: url('../images/sketch-2.png') no-repeat;
    background-position: -90px -30px;
}
.sketch-3{
    width: 100%;
    height: 100%;
    background: url('../images/sketch-3.png') no-repeat;
    background-position: -200px 310px;
}
a.logo{
    font-family: BebasNeueRegular;
    font-size: 60px;
    color: #2b1b16;
    display: block;
}
.contact-icon{
    margin-top: 6px;
}
.contact-icon a{
    float: right;
}
.carousel-inner{
    background: #2b1b16;
    border: 10px solid #2b1b16;
    /*border-radius: 12px;*/
}
.carousel-inner img{
    margin: 0 auto;
    min-width: 100%;
}
.modal-title{
    font-family: BebasNeueRegular;
    font-size: 40px;
    color: #2b1b16;
}
.modal-content{
    background:#000 url('../images/background-wood.png') repeat center center;
    font-family: BebasNeueRegular;
    font-size: 18px;
    color: #2b1b16;
}
.modal-header{
    border-bottom: 1px solid #2b1b16;
}
.modal-footer{
    border-top: 1px solid #2b1b16;
}
textarea.form-control {
    height: 250px;
}
.contact-send{
    background: #2b1b16;
    border: solid 1px #2b1b16;
    width: 90px;
    height: 40px;
    font-size: 25px;
    padding: 0 12px;
}
.contact-send:hover{
    background: #f5e79e;
}